/* header style */

.header-transparent {
  position: absolute;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  z-index: 99;
  background: transparent;
}

.header-sticky {
  position: fixed;
  left: 0;
  margin: auto;
  top: 0;
  width: 100%;
  box-shadow: 0 0 60px 0 rgba(255, 255, 255, 0.07);
  z-index: 99;
  -webkit-animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 300ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(255, 255, 25, 5 0.07);
  background: white;
  padding-top: 8px;
  padding-bottom: 8px;
}

/* Back To Top Button Style */
.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(95, 58, 252, 0.2);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: "\f13d";
  font-family: "uicons-bold-rounded";
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  color: #dc5d2b;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #2c3941;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.menu-scrollbar {
  max-height: calc(100vh - 78px);
  -webkit-overflow-scrolling: touch;
}
.drawer-left.drawer-open .drawer-content-wrapper {
  width: 320px;
}

/* footer */

.footer-widget-info-text > label {
  color: rgb(101, 98, 98);
  font-size: 14px;
  display: block;
  line-height: 1.4;
}

footer-widget-info-text > a {
  font-size: 16px;
  font-family: "Gordita-500";
  color: red;
  display: inline-block;
}

.footer-widget-info-icon > i {
  height: 48px;
  width: 48px;
  line-height: 48px;
  text-align: center;
  background: rgb(255, 255, 255);
  color: red;
  border-radius: 50px;
  display: block;
}
.registration img {
  height: 100%;
  object-fit: cover;
}

.registration > div {
  height: 100%;
}

.c-details-thumb > img {
  width: 100%;
  border-radius: 10px;
}
.c-details-thumb::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    rgba(5, 13, 54, 0) 0%,
    rgba(5, 13, 54, 0.4) 100%
  );
}

/* Swiper Carousel Custom css */

.swiper-pagination {
  position: none;
}
.heightFull,
.heightFull .carouselWrapper,
.heightFull .carouselWrapper > .swiper,
.heightFull .carouselWrapper > .swiper > .swiper-wrapper,
.heightFull .carouselWrapper > .swiper > .swiper-wrapper .swiper-slide > div,
.heightFull .carouselWrapper > .swiper > .swiper-wrapper .swiper-slide > a,
.heightFull
  .carouselWrapper
  > .swiper
  > .swiper-wrapper
  .swiper-slide
  > a
  > .group {
  height: 100%;
}
.heightFull .carouselWrapper > .swiper > .swiper-wrapper .swiper-slide > a {
  display: inline-flex;
}

.swiper-wrapper .swiper-slide {
  height: auto;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  display: none;
}
.carouselWrapper .swiper-button-disabled,
#productGallery + div > .swiper-button-disabled {
  cursor: not-allowed;
  opacity: 0;
  visibility: hidden;
}
.carouselWrapper .swiper-button-disabled:hover,
#productGallery + div > .swiper-button-disabled:hover {
  color: inherit;
  background-color: #666;
}

.carouselWrapper .swiper .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 14px;
  height: 8px;
  border: 0;
  /* background-color: #fff; */
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}
/* .carouselWrapper .swiper .swiper-pagination-bullets {
  bottom: 20px;
 
} */
.carouselWrapper
  .swiper
  .swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 18px;
  opacity: 1;
  background: #ff6652 !important;
}
.carouselWrapper.dotsCircleBlack
  .swiper
  .swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #000;
}
#productGalleryThumbs .swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}
#productGalleryThumbs .swiper-wrapper .swiper-slide {
  margin: 5px 5px 6px;
}
#productGalleryThumbs .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
  border-color: #80d8c7;
}

@media screen and (min-width: 1024px) {
  /* .carouselWrapper .swiper .swiper-pagination-bullets {
    bottom: 28px;
  
  } */
  .carouselWrapper.dotsCircleBlack .swiper .swiper-pagination-bullets {
    bottom: 0;
  }
  .carouselWrapper
    .swiper
    .swiper-pagination-bullets
    .swiper-pagination-bullet {
    width: 12px;
    height: 8px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .carouselWrapper
    .swiper
    .swiper-pagination-bullets
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 18px;

    background: #ff6652 !important;
  }
}

.swiper-multirow-column > .swiper-wrapper {
  flex-direction: row;
}
