@import "@mantine/core/styles.css" layer(mantine-core);

/* 👇 Expressly import the mantine-datatable styles into mantine-datatable layer */
@import "mantine-datatable/dist/styles.css" layer(mantine-datatable);

/* 👇 Make sure the styles are applied in the correct order */
@layer mantine-core, mantine-datatable;

.mantine-Pagination-control {
  @apply h-9 w-9 rounded-full border-white-light !bg-white-light font-nunito text-sm !text-[#3b3f5c] hover:!bg-primary hover:!text-white dark:border-[#191e3a] dark:!bg-[#191e3a] dark:!text-white;
}
.mantine-Pagination-control[data-active] {
  @apply !bg-primary !text-white;
}

.mantine-Pagination-control:disabled {
  @apply !text-[#adb5bd];
}
/* Back To Top Button Style */
.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(95, 58, 252, 0.2);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: "\f13d";
  font-family: "uicons-bold-rounded";
  text-align: center;
  line-height: 46px;
  font-size: 20px;
  color: #dc5d2b;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #2c3941;
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.menu-scrollbar {
  max-height: calc(100vh - 78px);
  -webkit-overflow-scrolling: touch;
}
.drawer-left.drawer-open .drawer-content-wrapper {
  width: 320px;
}
